dspy
llama_index
numpy
pandas
plotly
statsmodels
streamlit
groq
scikit-learn
streamlit_feedback
tabulate
matplotlib
flask
flask-cors
Flask-SQLAlchemy
python-dotenv
fastapi
uvicorn
fastapi-sqlalchemy
sqlalchemy 
python-jose 
passlib[bcrypt]